<div class="base-container">
    <div class="menu">
        <div class="menu-item" (click)="eventClick()">
            Event emmiting
        </div>
        <div class="menu-item" (click)="localTempRefClick()">
            Local template Ref
        </div>
        <div class="menu-item" (click)="projectionClick()">
            Projection/Content-child
        </div>
        <div class="menu-item" (click)="directiveClick()">
            Directives
        </div>
    </div>
    <div  class="main-frame" >
        <router-outlet></router-outlet>
    </div>
</div>


<!-- 
<div class="event-container">
    <event-parent>
    </event-parent>
</div> -->