.prjchild-container{
    border: 1px solid black;
    height:200px;
    width:300px;
    margin: 100px auto;
}

.projection-content{
    margin: 40px;
    border: 1px solid lightgray;
    padding:5px;
    width: 65%;
}