<app-shell>        
 <!-- <debtors-list></debtors-list>  -->
 <router-outlet></router-outlet>
</app-shell>

<!-- <div class="main-container">
    <div class="welcome-msg">
        <h1>Welcome!</h1>
    </div>
    <div class="home-container">
        <div class="home">
            <a class="nav-link" aria-current="page" routerLink="/Home" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </div>
        <div class="crud">
            <a class="nav-link" routerLink="/Home/Crud" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Crud</a>
        </div>
        <div class="profile">
            <a class="nav-link" routerLink="/Home/Profile" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Profile</a>
        </div>
    </div>
    <div class="main-content">
        <debtors-list></debtors-list>
    </div>
</div>
-->
 