.container-debtor{
    padding-top: 40px;
    width:50%;
    display: inline-block;
    margin-right: 40px;
}
.container-address{
    width:30%;
    display: inline-block;
    position: relative;
}
.addressbook{
    position: relative;
    bottom:320px;
    left: 110px;
    font-weight: 700;
}